<div class="container">
    <form class="form-inline" th:action="@{/extension/browse}">
        <div class="form-group">
            <label for="sort-criteria">Sort By:</label>
            <select class="form-control" id="sort-criteria" name="sortBy"  >
                <option selected="selected">Name</option>
                <option>Upload Date</option>
                <option>Downloads</option>
            </select>
        </div>
        <div class="form-group">
            <!--<label for="search-criteria">Search By Name:</label>-->
            <input th:value="${#request.getParameter('name')}" id="search-criteria"  type="search" class="form-control" name="name" placeholder="Search by Name...">
        </div>
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <table class="table table-bordered" style="margin-top:5px;">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">number of downloads</th>
            <th scope="col">upload date</th>
            <th scope="col">download link</th>
            <th scope="col">repo link</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="extension : ${extensions}">
            <td th:text="${extension.getName()}">Larry</td>
            <td th:text="${extension.getNumberOfDownloads()}">the Bird</td>
            <td th:text="${extension.getDate()}">the Bird</td>
            <td><a th:href="${extension.getDownloadLink()}">Download</a></td>
            <td><a th:href="${extension.getRepositoryLink()}">GitHub</a></td>
        </tr>
        </tbody>
    </table>
</div>
