<div class="container h-100">
    <div class="h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-5">
                <h3>Upload MultipartFile to FileSystem</h3>
                <form method="POST" id="fileUploadForm"
                      th:action="@{/extension/delete/{id}(id = ${extension.getId()})}">

                    <div class="form-group">
                        <label class="control-label" for="extensionName">Name:</label>
                        <input type="text" class="form-control" id="extensionName" placeholder="Name"  name="name"
                               th:value="${extension.getName()}" disabled="disabled"></input>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="extensionDescription">Description:</label>
                        <input type="textarea" class="form-control" id="extensionDescription" placeholder="Description"  name="description"
                               th:value="${extension.getDescription()}" disabled="disabled"></input>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="extensionVersion">Version:</label>
                        <input type="text" class="form-control" id="extensionVersion" placeholder="Version"  name="version"
                               th:value="${extension.getVersion()}" disabled="disabled"></input>
                    </div>


                    <button type="submit" class="btn btn-danger" id="btnSubmit">Delete</button>
                    <!--<a href="/files" class="btn btn-default" role="button">Files</a>-->
                </form>
                <div th:if="${message}">
                    <span th:text="${message}"/>
                </div>
            </div>
        </div>
    </div>
</div>