<div class="moviecard" th:object="${extension}">
    <div class="movie-poster play-trailer"></div>
    <div id="movie-content">
        <div class="movie-ratings">
            <span class="glyphicon glyphicon-download-alt"></span>
            <span th:text="${extension.getNumberOfDownloads()}">Number of Downloads</span>
        </div>
        <div class="movie-title">
            <a th:text="${extension.getName()}">Extension name</a>
        </div>
        <span
                class="movie-year" th:text="${extension.getVersion()}">Version</span>
        <div class="movie-details">

        </div>
        <div class="movie-castcrew"><span class="title">Author</span>
            <span class="name" th:text="${extension.getUser().getFullName()}">John Doe</span>
        </div>
        <div class="movie-castcrew"><span class="title">Date</span>
            <span class="name" th:text="${#dates.format(extension.getDate(), 'dd-MMM-yyyy')}">19-Aug-2018</span>
        </div>
        <div class="movie-synopsis" th:text="${extension.getDescription()}">Description
        </div>
        <div class="movie-issues">
            <div class="movie-details">
                <span class="movie-rating">Open Issues:
                <span class="badge" th:text="${extension.getOpenIssues()}">0</span>
                </span>
                <span class="movie-duration">Pull Requests:
                <span class="badge" th:text="${extension.getPullRequests()}">0</span>
                </span>
                <span class="movie-genre">Last Commit Date:
                <span class="badge" th:text="${#dates.format(extension.getLastCommit(), 'dd-MMM-yyyy')}">0</span>
                </span>
            </div>
        </div>
        <div>
            <a th:href="${extension.getRepositoryLink()}" class="btn btn-info">Repository</a>
            <a th:href="@{/extension/download/{id}(id = ${extension.getId()})}" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>