<footer id="footer" class="clearfix">
    <div id="footer-widgets">

        <div class="container list-unstyled list-inline">

            <div id="footer-wrapper">

                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <div id="meta-3" class="widget widgetFooter widget_meta">
                            <h4 class="widgettitle">Important Pages :</h4>
                            <ul>
                                <li><a th:href="@{/}"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                <li><a th:href="@{/extension/browse}"><i class="fa fa-link"></i> Extensions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-2">
                        <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                            <h4 class="widgettitle">Our social media :</h4>
                            <ul>
                                <li>
                                    <a href="https://github.com/yasenst" target="_blank"><i
                                            class="fa fa-github"></i> Github - Yasen</a>
                                </li>
                                <li>
                                    <a href="https://github.com/PenyoKolev" target="_blank"><i
                                            class="fa fa-github"></i> Github - Penyo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div id="meta-4" class="widget widgetFooter widget_meta">
                            <h4 class="widgettitle">Subscribe :</h4>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">E-mail  :</span>
                                    <input class="form-control" placeholder="Write your email .." type="text">
                                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Subscribe !</button>
                  </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Search :</h4>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Keyword :</span>
                                    <input class="form-control" placeholder="Keyword for search ..." type="text">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search !</button>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>